extends layout 
 
block content 
  h1= title 
 
  - let rocketid = toShow._id 
  - let rocket_type = toShow.rocket_type 
  - let rocketquantity = toShow.quantity 
  - let rocketcost  = toShow.cost
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{rocketid} 
  - let actionid = "/resource/rocket/" + rocketid 
  form(id='rocketForm', action= actionid, method="PUT") 
    div.form-group 
        label.rocketAttr(for='rocket_type') rocket type 
        input#rocket_type(type='text', name='rocket_type', value= rocket_type ) 
    div.form-group 
        label.rocketAttr(for='size') rocket quantity  
        input#quantity(type='text', name='size', value= rocketquantity ) 
    div.form-group 
        label.rocketAttr(for='cost') rocket cost 
        input#cost(type='number', name='cost', value= rocketcost ) 
    input(type="submit") 
    button(class="btn btn-secondary m-2" onclick="window.location.href='/rocket'") Cancel
 
  script. 
    document.forms['rocketForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 